.boton{
    width: 70px;
    min-height: 50px;
}

#botonCero{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 50px;
}

#botonIgual{
    min-height: 100px;
    width: 100%;
}


input[type=number]{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
    width: 100%;
    height: 60px;
    background-color: rgba(206, 209, 206, 0.466);
    /* font-size:100%; */
    /* size: 60px; */
}